.add {
    float: center;
    margin-top: 10px;
}

.remove {
    float: left;
}

.hiker{
    float: left;
    width: 80%;
    margin-bottom: 10px;
}

.length{
    width: 80%;
    float: left;
}

.save{
    float: left;
    margin-top:10px;
}